version: '3.8'

services:
  web:
    image: nginx:latest
    container_name: CCUPCXDS-web
    ports:
      - "1346:80"
    volumes:
      - ./dist:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/nginx.conf:ro