@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Noto Sans TC', sans-serif;
}

body {
    @apply bg-gray-200 dark:bg-gray-700;
}
.react-icons {
    @apply text-2xl transition duration-200 hover:scale-150 hover:text-yellow-100 dark:hover:text-blue-200;
}
